.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: 6px;
}

.burgerMenuBar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(247, 247, 255, 0.7);
  border-radius: 0 6px 6px 0;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bugerMenuList {
  list-style: none;
}

.bugerMenuList a {
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}
